{% extends "plentyone/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
</head>

{% block content %}

<div class="container text-start">
    <h1>Terms and Conditions</h1>

<h2>Introduction and Services</h2>
<p>These terms and conditions apply to your use of this website and by accessing this website and/or updating your order, you agree to be bound by the following terms and conditions. If you do not agree to be bound by these terms and conditions, you will not be able to use or access this website. If you have any questions about these terms and conditions before updating your order, please contact our customer service team 7 days a week.</p>

<h2>Definitions</h2>
<strong>Explanation Conditions:</strong> these terms and conditions and special conditions<br>
<strong>Product Descriptions:</strong>strong> the sections of this website that provide certain terms and conditions relating to individual products<br>
<strong>Special Conditions:</strong>strong> the terms and conditions on the product description<br>
<strong>Services:</strong>strong> the agency services we provide for the products being updated for review, as described in the agency agreement<br>
<strong>Agent/you:</strong>strong> the generic term for users of this website<br>
<strong>Personal information:</strong> Details provided by you during registration<br>
<strong>Cookies:</strong>strong> small text files placed on your computer's hard drive by this website to store information and identify your computer<br>
<strong>Agreement:</strong>strong> the agent containing these terms and conditions</p>

<h2>1.0 Explanation</h2>
<h3>1.1 Interpretation</h3>
<p>Any words following a particular clause, for example, "or" or any similar expression, shall be construed as illustrative and shall not limit the meaning of the words, descriptions, definitions, phrases or terms preceding those clauses.</p>

<h3>1.2 Definitions</h3>
<p>Unless otherwise stated, capital letters used in these terms and conditions (but not defined in these terms and conditions) shall have the meaning set out in the Agency Agreement.</p>

<h2>2.0 Responsibilities of the Agent</h2>
<ul>
  <li>Each Agent must complete at least one set of tasks in order to receive a bonus from us.</li>
  <li>Agents are allowed to reset their accounts once per day. Each agent can complete a maximum of two tasks per day.</li>
  <li>Early completion of tasks is not permitted as this will result in a break in sales data collection.</li>
  <li>Agents are not allowed to post or publish any false information on any type of social media. We reserve the right to seek legal liability.</li>
  <li>Compliance with legal obligations (meeting our legal obligations)</li>
  <li>Dealing with claims and complaints and seeking resolution (legal rights and legal claims)</li>
</ul>

<h2>3.0 Program Participation</h2>
<p>By participating in the Program, you undertake to submit all true, accurate, current and complete information. We reserve the right to verify your eligibility.  If we know or have reasonable grounds to believe at the time of registration that you are not eligible to participate in the Program, we reserve the right to disqualify you and select an alternative product reviewer.</p>

</div>


{% endblock content%}